@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-weight: 800;
		line-height: 1.1;
		letter-spacing: -1%;
		@apply text-[48px] md:text-[64px] text-dark;
	}

	h2 {
		font-weight: 700;
		line-height: 1.1;
		letter-spacing: -2%;
		@apply text-[38px] md:text-[50] text-dark;
	}

	h3 {
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -1%;
		@apply text-[24px] md:text-[32] text-dark;
	}

	h4 {
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -1%;
		@apply text-[20px] md:text-[24] text-dark;
	}

	p {
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0.5%;
		@apply text-[16px] text-dark;
	}

	img {
		@apply hover:scale-95 transition-all;
	}
}
